@model StatusChartView
@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<hr>

<div class="row">
    <div class="col-8">
    
<div class="demo-section wide" >
    @(Html.Kendo().Chart()
        .Name("chart")
                .Title(title => title
                    .Text("Ticket Durumları Grafiği")
                    .Position(ChartTitlePosition.Bottom))
        .Legend(legend => legend
            .Visible(false)
        )
        .ChartArea(chart => chart
            .Background("transparent")
         )
        
        .Series(series => {
            series.Pie(new dynamic[] {
                new {category="Açık",value=@Math.Round((double)Model.OpenTicket/Model.TotalTicket *100),color="#FF0000"},
                new {category="Kapalı",value=@Math.Round((double)Model.CloseTicket/Model.TotalTicket*100),color="#28a745"},
                
                
            })
            .Labels(labels => labels
                .Template("#= category #: \n #= value#%")
                .Background("transparent")
                .Visible(true)
            )
            .StartAngle(150);
        })
        .Tooltip(tooltip => tooltip
            .Visible(true)
            .Format("{0}%")
        )
    )


</div>
    </div>
    <div class="col-4">
       
        <p>Toplam Ticket Sayısı:@Model.TotalTicket</p>
        <p>Çözülen Ticket Sayısı:@Model.CloseTicket</p>
        <p>Bekleyen Ticket Sayısı:@Model.OpenTicket</p>
    </div>
</div>

