@model StatusChartView
@{
ViewData["Title"] = "İstatistikler";
}
@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<hr>

<div class="row">
    <div class="col-5">
    
    <h4 style="text-align: center;" >Proje Bazlı Ticket Grafiği</h4><br>
    
   @(Html.Kendo().Chart<ProjectChartView>()
            .Name("donut-chart")
            .ChartArea(chartArea => chartArea
                .Background("transparent"))
                
            .Legend(legend => legend.Visible(true).Position(ChartLegendPosition.Bottom))
            .SeriesDefaults(series => series.Donut().StartAngle(300))
            .DataSource(ds => ds
                .Read(read => read.Action("ProjectChart", "Grid")))
            .Series(series =>
             {
                series.Donut(model => model.TicketCount, model => model.ProjeTuru)
                    .Padding(50)
                    .Labels(labels => labels
                        .Visible(true)
                        .Position(ChartPieLabelsPosition.OutsideEnd)
                        .Template("#= category  #: \n #= value#%")
                        .Background("transparent"));
            })
            
            
        )


    </div>
<div style="text-align: center;" class="col-5">
    
    <h4 >Ticket Durum Grafiği</h4>
    @(Html.Kendo().Chart()
        .Name("chart")
        .Legend(legend => legend.Visible(true).Position(ChartLegendPosition.Bottom)
        )
        .ChartArea(chart => chart
            .Background("transparent")
         )
        
        .Series(series => {
            series.Pie(new dynamic[] {
                new {category="Açık",value=@Math.Round((double)Model.OpenTicket/Model.TotalTicket *100),color="#28a745"},
                new {category="Kapalı",value=@Math.Round((double)Model.CloseTicket/Model.TotalTicket*100),color="#FF0000"},
                
                
            })
            .Labels(labels => labels
                .Template("#= category #: \n #= value#%")
                .Background("transparent")
                .Visible(true)
            )
            .StartAngle(150);
        })
        .Tooltip(tooltip => tooltip
            .Visible(true)
            .Format("{0}%")
        )
    )



    </div>
    <div style="text-align: center;" class="col-2">
       <h4>Ticket Durum İstatistikleri</h4>
        <p><strong>Toplam Ticket Sayısı: </strong>@Model.TotalTicket</p>
        <p><strong>Çözülen Ticket Sayısı</strong>:@Model.CloseTicket</p>
        <p><strong>Bekleyen Ticket Sayısı</strong>:@Model.OpenTicket</p>
    </div>
</div>

