@model IEnumerable<Tickets>
@{
    Layout = "~/Views/Shared/_developerLayout.cshtml";
}


@(Html.Kendo().Grid<ticketApp.Models.Tickets>().Name("Grid_dev").Columns(columns => {
    columns.Bound(p => p.Title).HtmlAttributes(new {style = "color:blue;"})
    .ClientTemplate("<a href='" + Url.Action("Detail", "Developer", new { id = "#=Id#" }) + "'>#=Title#</a>");
    columns.Bound(p => p.Description);
    columns.Bound(p => p.ticketType);
    columns.Bound(p => p.ticketPriority);
    columns.Bound(p => p.ticketStatus);
    columns.Bound(p => p.CreatedAt).Format("{0:dd/MM/yyyy HH:mm}");
    })
    .Pageable()
    .Sortable()
    .Filterable()
    .Scrollable()
    .DataSource(dataSource => dataSource
    .Ajax()
    .AutoSync(true)
    .Read(read => read.Action("Tickets_Read_For_Dev","Grid"))
    
    ))
