
@{
ViewData["Title"] = "Tickets";
}
@{
    Layout = "~/Views/Shared/_userLayout.cshtml";
}


<section class="jumbotron text-center">
@(Html.Kendo().Grid<ticketApp.Models.Tickets>().Name("TicketsGrid").Columns(columns => {
    columns.Bound(c => c.Id).Hidden();
    columns.Bound(c => c.Title);
    
    columns.Bound(c => c.Description);
    columns.Bound(c => c.ticketType);
    columns.Bound(c => c.ticketPriority);
    columns.Bound(c => c.ticketStatus);
    columns.Bound(c => c.CreatedAt).Format("{0:dd/MM/yyyy HH:mm}");
    columns.Template("<a style='width:120px;' class='btn btn-primary' href='User/Detail/#=Id#' >Detay</a>").HtmlAttributes(new {style = "color:white"});
    
    }).Pageable()
    .Sortable()
    .Filterable()
    .Navigatable()
    .Filterable()
    .Scrollable()
    .DataSource(dataSource => dataSource
    .Ajax()
    .Read(read => read.Action("Tickets_Read","Grid"))
    .Sort(s => s.Add(p => p.CreatedAt).Descending())
    ))
</section>


